.custom-label-input{
    cursor: pointer;
    border: 1px solid black;
    padding: 5px 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.custom-input{
    display: none;
}